body{
    background-color: #05011B;
}
.card{
    background-color: #000512;
    border-radius: 5%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 26%;
    box-shadow: 5px 5px 5px  #044785;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: 25pc;
}

.form-group{
    border-radius: 20pc;
    margin-left: -6pc;
    width: 21pc;
}
  
.card-title {
    margin-bottom: -2pc;
    text-align: center;
    margin-top: 1pc;
}


.col-md-6{
    padding-top: 7%
}
